.bg
{
    background-image: url('E:\Projects\ReactExamples\myworksheet\src\assets\wather2.jpeg') ;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin-left: 230px;
    margin-top: 50px;
}
h1{
    color: rgb(109, 30, 46);
    text-shadow: 1px 1px 1px rgb(100, 95, 95);
    margin-top: 130px;
    margin-left: 30px;
}
.date
{
  color:rgb(109, 30, 46);
  text-shadow: 1px 1px 1px rgb(100, 95, 95);
  margin-left: 30px;
}
.inpt
{
    width: 250px;
    border:1px solid rgba(71, 65, 65, 0.5);
    background-color: rgb(225, 225, 225,0.5);
    padding:6px;
    border-radius: 6px;
    margin-left: 50px;
}
table{
    border: 1px solid rgb(0, 0, 0);
    padding:8px;
    margin-left: 500px;
    margin-top: 20px;
  }
th,td{
    padding:5px;
}
th{
    color:rgb(109, 30, 46);
}
td{
    color:rgb(4, 4, 163);
    font-weight: bold;
}